<template name="Home">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class = "container col-xs-12 col-md-12">
    <div class = "headerStripe col-xs-12"></div>
    <div class = "headerBar col-xs-12">
        <span><p>{{>loginButtons}}</p></span>
    </div>

    <!-- Includes all form items -->
    <div class = "content col-xs-12 col-md-4 col-md-offset-4">
        <span>
            <img src="../../images/elon-musk.jpg" class = "elonPicture" alt="Elon Musk" height="300" width="350">
            <h3>Welcome to Elon's URL shortener</h3>
        </span>

        <div class = "col-xs-12">
            <div class = "col-xs-offset-1 col-xs-10">
                <h4>Long URL:</h4> <input type="text" placeholder="http://elonisgreat.com" name='url-to-shorten' class='url-to-shorten form-control URLInput'>
            </div>
            <!--  -->
            {{#if show}}
                {{>showShortURL}}
                {{shortUrl}}
            {{/if}}
            <div class = "shortenButtonDiv col-xs-offset-1 col-xs-10">
                <button type="button" class="shorten btn-danger shortenURLButton">Shorten URL</button>
            </div>
        </div>
        <div class = "disclaimer col-xs-offset-1 col-xs-10">
            Elon Musk does not endorse this product and is unaware of its existence.
        </div>
    </div>
</div>
</template>

<template name = "showShortURL">
    <div class = "progressList col-xs-offset-1 col-xs-10">
        <ul>
            <li>Gaining energy from sun, please wait...</li>
            <li>Testing delivery (no fossil fuels involved)...</li>
            <li>Most valuable URL in the US.</li>
            <li>Sending to mars...</li>
            <li>Complete! Your URL is now apart of the new colony of Earth.</li>
        </ul>
    </div>
    <div class = "col-xs-offset-1 col-xs-10">
        <h4>Short URL:</h4>
        <span class="label label-default">{{shortUrl}}</span>
    </div>
</template>
